/* apply a natural box layout model to all elements, 
 but allowing components to change */
html {
  box-sizing: border-box;
  
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}
h1,h2,h3{
  font-family: 'Raleway', sans-serif;
  
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  display: block;
}

.nombre-sitio {
  margin-top:3.125rem;
  margin-bottom: 3.125rem;
  text-align: center;
  font-size: 2.5rem;
  /* display: flex;
  justify-content: start; */
}
.nombre-sitio span {
  color: #72a6e5;
}

.contenedor-nav {
  border-top: 1px solid #e1e1e1
}
.nav-principal {
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-between;
}
.nav-principal a {
  border: 0;
  border-radius: 1.25rem;
  padding: 0.625rem 0.625rem;
  background-color: #72a6e5;
  color: #fff;
}

.nav-principal a:hover {
  /* background: rgba(65, 140, 231, 0.7); */
  background: rgb(0, 0, 0, 0.8);
}

.contenedor {
  max-width: 75rem;
  margin: 0 auto;
}

.img-principal {
  background-image: url("../img/principal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 34.375rem;
  background-position: center center;
}

.categorias {
  text-align: center;
  padding: 2rem;
}

.listado-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  
}
.categoria a {
  text-align: center;
  display: block;
  padding: 1.25rem;
  font-size: 1.25rem;
}

.categoria a:hover {
  background: #72a6e5;
  color: #fff;
  border-bottom-right-radius: .625rem;
  border-bottom-left-radius: .625rem;
}

.sobre-nosotros{
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  background-image: linear-gradient(to right, transparent 50%, #72a6e5 50%, #72a6e5 100%),
  url("../img/nosotros.jpg");
  padding: 100px 0 100px 0;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100%, 60rem
  
}

.sobre-nosotros-grid{
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40rem;
}
.texto-nosotros{
  grid-column: 2 /3;
}

/* .sobre-nosotros-grid{
  display: flex;
  justify-content: flex-end;
}
.texto-nosotros h2{
  flex-basis: 50%;
  padding-left: 40rem;
} */
.nuestros-productos{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.lista-productos{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
.producto:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 7;
  display: grid;
  grid-template-columns: 3fr 1fr;
  
}
.producto:nth-child(1) img{
  height: 28.2rem;
  width: 100%;
  object-fit: cover;
}

.producto:nth-child(2){
  grid-column-start: 1;
  grid-column-end: 4;
}

.producto:nth-child(3){
  grid-column-start: 4;
  grid-column-end: 7;
}

.producto:nth-child(2) img , .producto:nth-child(3) img{
  height:18.75rem;
  width: 100%;
  object-fit: cover;
}


.producto:nth-child(4){
  grid-column-start: 1;
  grid-column-end: 3;
}
.producto:nth-child(5){
  grid-column-start: 3;
  grid-column-end: 5;
}
.producto:nth-child(6){
  grid-column-start: 5;
  grid-column-end: 7;
}

.producto{
  color: #fff;
  background-color: #72a6e5;  
  margin-bottom: 30px;

}

.texto-producto{
  text-align: center;
  padding: 2rem;
}
.texto-producto h3{
  margin: 0;
}
.texto-producto p{
  margin: 0 0 5px 0;
}
.precio{
  font-size: 2rem;
  font-weight: 900;
}


.btn{
  background-color: #8cbc00;
  color: #fff;
  font-weight: 900;
  display: block;
  text-transform: uppercase;
  padding: 0.625rem;
  transition: background-color .3s ease-out;
  text-align: center;
}
.btn:hover{
  background-color:#769c02 ;
}


.sitio-footer{
  border-top: 1px solid #e1e1e1;
  margin-top:50px;
  padding-top: 50px;
}
.sitio-footer h3{
  margin-bottom: 5px;
}

.grid-footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20rem;
} 

.nav-footer a{
  display: block;
}

.derechos-reservados{
  display: flex;
  justify-content: center;
  margin: 25px;
}
.derechos-reservados span{
  color: #72a6e5;
}


/* Pag Nosotros -> 253 en adelante */

.contenido-nosotros{
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem,1fr));
  column-gap: 2.5rem;
}

.informacion-nos{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Entradas */
.subtitulo-blog{
  padding: 30px 0;
}
.contenedor-blog{
  display: grid;
  grid-template-columns: 2fr 1fr ;
  column-gap: 40px;
}

.entradas li{ 
list-style: none;
padding: 10px;
}
.link{
  display: block;
}

.separador-entrada{
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 40px;
}

.separador-entrada:last-of-type{
  border: none;
}
.subtitulo-imagen{
  display: flex;
  justify-content: space-between;
}

.subtitulo-imagen p {
  font-weight: 700;

}
.subtitulo-imagen span{
  color: #72a6e5;
}
.max-width{
  max-width: 250px;
}

/* Entrada de blog */
.contenedor-entrada-blog{
  width: 600px;
  margin: 0 auto;
}