 /* apply a natural box layout model to all elements, 
 but allowing components to change */
html {
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}


a{
  text-decoration: none;
  color: #000;
}

img{
  max-width: 100%;
  display: block;
}

.nombre-sitio{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    /* display: flex;
    justify-content: center; */
   
}
.nombre-sitio span {
    color: #72a6e5;
}

.contenedor-nav{
  border-top:1px solid rgb(0, 0, 0,.5);
}
.nav-principal{
  padding: 20px 0;
  display: flex;
  justify-content: space-between;

}
.nav-principal a{
  border: 0;
  border-radius: 20px;
  padding: 10px 10px;
  background-color:#72a6e5;
  color: #fff;
}

.nav-principal a:hover{
  /* background: rgba(65, 140, 231, 0.7); */
  background: rgb(0, 0,0, .8);
}

.contenedor{
  max-width: 1200px;
  margin: 0 auto;
}

.img-principal{
  background-image: url("../img/principal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;

}

.categorias {
  text-align: center;
}

.listado-productos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px
}
.categoria a{
  text-align: center;
  display: block;
  padding: 20px;
  font-size: 20px;
}

.categoria a:hover{
  background: #72a6e5;
  color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
